<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/customer/basket.css">
    <link rel="stylesheet" href="/stylesheets/general.css">
    <title>Basket</title>
</head>
<body>
    <main class="basket-container">
        <h1>Your Basket</h1>
        <div class="basket-items">
            <div class="basket-item">
                <img src="placeholder.jpg" alt="Product">
                
                <div class="basket-product-details">
                    <h3 class="basket-product-name">Product Name</h3>
                    <p class="basket-product-price">£2.50</p>
                </div>

                <div class="basket-quantity">
                    <button class="basket-decrease">-</button>
                    <input
                        type="number"
                        class="item-quantity"
                        value="1"
                        min="1"
                    >
                    <button class="basket-increase">+</button>

                </div>
                <button class="remove-item">Remove</button>
            </div>
            <div class="basket-item">
                <img src="placeholder.jpg" alt="Product">
                
                <div class="basket-product-details">
                    <h3 class="basket-product-name">Product Name</h3>
                    <p class="basket-product-price">£2.50</p>
                </div>

                <div class="basket-quantity">
                    <button class="basket-decrease">-</button>
                    <input
                        type="number"
                        class="item-quantity"
                        value="1"
                        min="1"
                    >
                    <button class="basket-increase">+</button>

                </div>
                <button class="remove-item">Remove</button>
            </div>
            <div class="basket-item">
                <img src="placeholder.jpg" alt="Product">
                
                <div class="basket-product-details">
                    <h3 class="basket-product-name">Product Name</h3>
                    <p class="basket-product-price">£2.50</p>
                </div>

                <div class="basket-quantity">
                    <button class="basket-decrease">-</button>
                    <input
                        type="number"
                        class="item-quantity"
                        value="1"
                        min="1"
                    >
                    <button class="basket-increase">+</button>

                </div>
                <button class="remove-item">Remove</button>
            </div>
            <div class="basket-item">
                <img src="placeholder.jpg" alt="Product">
                
                <div class="basket-product-details">
                    <h3 class="basket-product-name">Product Name</h3>
                    <p class="basket-product-price">£2.50</p>
                </div>

                <div class="basket-quantity">
                    <button class="basket-decrease">-</button>
                    <input
                        type="number"
                        class="item-quantity"
                        value="1"
                        min="1"
                    >
                    <button class="basket-increase">+</button>

                </div>
                <button class="remove-item">Remove</button>
            </div>
            <div class="basket-item">
                <img src="placeholder.jpg" alt="Product">
                
                <div class="basket-product-details">
                    <h3 class="basket-product-name">Product Name</h3>
                    <p class="basket-product-price">£2.50</p>
                </div>

                <div class="basket-quantity">
                    <button class="basket-decrease">-</button>
                    <input
                        type="number"
                        class="item-quantity"
                        value="1"
                        min="1"
                    >
                    <button class="basket-increase">+</button>

                </div>
                <button class="remove-item">Remove</button>
            </div>
        </div>

        <div class="basket-summary-container">

            <h2>Order Summary</h2>

            <div class="basket-item-container">
                <span>Subtotal</span>
                <span id="basket-subtotal">£0.00</span>
            </div>

            <div class="basket-item-container">
                <span>Delivery</span>
                <span id="delivery-fee">£0.00</span>
            </div>

            <div class="basket-item-container total-row">
                <strong>Total</strong>
                <strong id="basket-total">£0.00</strong>
            </div>

            <button id="checkout-button">
                Proceed to Checkout
            </button>

        </div>

    </main>
</body>
</html>