<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/customer/product_detail.css">
    <link rel="stylesheet" href="/stylesheets/general.css">
    <title>Product Detail</title>
</head>
<body>
    <main>
        <section class="product-detail-left">
            <div class="product-img"></div>
            <div class="product-desc"></div>
        </section>
        <section class="product-detail-right">
            <div class="product-info-container">
<!--                add relevant product details-->
                <button>add to basket</button>
            </div>
        </section>
        <footer></footer>
    </main>
</body>
</html>