<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/customer/register.css">
    <link rel="stylesheet" href="/stylesheets/general.css">
    <title>Register</title>
</head>
<body>
    <h1>Create Account</h1>

    <form action="" class="register-form">
        <div class="form-row">
                <div class="form-group">
                    <label for="first-name">First Name</label>
                    <input 
                        type="text" 
                        id="first-name" 
                        name="first-name" 
                        placeholder="First name"
                        required
                    >
                </div>

                <div class="form-group">
                    <label for="last-name">Last Name</label>
                    <input 
                        type="text" 
                        id="last-name" 
                        name="last-name" 
                        placeholder="Last name"
                        required
                    >
                </div>
        </div>

        <div class="form-group">
            <label for="email">Email Address</label>
            <input 
                type="email" 
                id="email" 
                name="email" 
                placeholder="Please enter your email"
                required
            >
        </div>

        <div class="form-group">
            <label for="mobile">Mobile Number</label>
            <input 
                type="tel" 
                id="mobile" 
                name="mobile"
                placeholder="Please enter mobile number"
                required
            >
        </div>

        <div class="address-container">
            <div class="form-group">
                <label for="address1">Address Line 1</label>
                <input 
                    type="text" 
                    id="address1" 
                    name="address-line1"
                    placeholder="Street address"
                    required
                >
            </div>

            <div class="form-group">
                <label for="address2">Address Line 2</label>
                <input 
                    type="text" 
                    id="address2" 
                    name="address-line2"
                    placeholder="Apartment, suite, etc (optional)"
                >
            </div>

            <div class="form-row">

                <div class="form-group">
                    <label for="city">City</label>
                    <input 
                        type="text" 
                        id="city" 
                        name="city"
                        placeholder="City"
                        required
                    >
                </div>

                <div class="form-group">
                    <label for="postcode">Postcode</label>
                    <input 
                        type="text" 
                        id="postcode" 
                        name="postcode"
                        placeholder="Postcode"
                        required
                    >
                </div>

            </div>
        </div>

        <div class="form-row">

            <div class="form-group">
                <label for="password">Password</label>
                <input 
                    type="password" 
                    id="password" 
                    name="password"
                    placeholder="Create password"
                    required
                    >
            </div>

            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input 
                    type="password" 
                    id="confirm-password" 
                    name="confirmPassword"
                    placeholder="Confirm password"
                    required
                >
            </div>

        </div>

        <div class="form-options">
            <label>
                <input type="checkbox" name="terms" required>
                    I agree to the Terms and Conditions
            </label>
        </div>

        <div class="form-actions">
            <button type="submit" id="register-button">
                Create Account
            </button>
        </div>

        <div class="auth-switch">
            <p>
                Already have an account?
                <a href="/login">Login</a>
            </p>
        </div>

    </form>
</body>
</html>