<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management Dashboard</title>
</head>
<body>
     <nav class="main-nav warehouse-nav ">
        <!-- <nav class="second-nav">
            <a href="/" class="second-title"> TITLE </a>
            <div id="hidden-nav" class="overlay-nav">
                <a
                href="javascript:void(0)"
                class="close-btn"
                onclick="close_nav()"
                >&times;</a
                >

                <div class="overlay-content">
                <a href="/">Dashboard</a>
                <a href="/#picking-list">Dashboard</a>
                <a href="/picking-detail">Sales</a>
                <a href="/stock">Logout</a>
                </div>
            </div>

            <span onclick="open_nav()" class="open-nav"
                ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                >
                <path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1"
                    d="M3 6h18M3 12h18M3 18h18"
                />
                </svg>
            </span>
            </nav> -->
        <ul class="main-nav-list">
            <li class="link-dashboard">
                <a class="nav-link main-nav-link dashboard-nav-link" href="#dashboard">Dashboard</a>
            </li>
            <li class="link-deliveries">
                <a class="nav-link main-nav-link pickingD-nav-link" href="#picking-detail">Sales</a>
            </li>
            <li class="link-picking">
                <a class="nav-link main-nav-link pickingL-nav-link" href="">Logout</a>
            </li>
        </ul>
    </nav>

    <header>
        <div class="date-filter-group-container">
            <div class="filter-group">
                <label for="date-frmi">From</label>
                <input type="date" id="date-from">
            </div>
            <div class="filter-group">
                <label for="date-to">Tp</label>
                <input type="date" id="date-to">
            </div>
        </div>

        <div class="filter-group">
            <label for="category-filter">Category</label>
            <select name="category-filter" id="category-filter">
                <option value="all">All</option>
                <option value="fruit">Fruit</option>
                <option value="vegetables">Vegetables</option>
                <option value="dairy">Dairy</option>
                <option value="bakery">bakery</option>
            </select>
        </div>

        <div class="filter-group">
            <label for="dashboard-search">Search Product</label>
            <input type="text" id="dashboard-search">
        </div>

        <button class="apply-filter-btn" id="apply-filter-btn">Apply filter</button>
        <button class="reset-filter-btn" id="reset-filter-btn">Reset</button>
    </header>

    <main class="">
        <section class="dashboard-section stat-cards-seection">
            <div class="stat-card">
                <!-- 
                    These stats will be populated from the backend
                    I'm leaving the layout for now, it can be decided after the backend side has been setup
                -->
            </div>
        </section>

        <section class="dashboard-section sales-section">
            <div class="section-header sales-header">
                <h2>Sales per category</h2>
                <button class="export-btn">Export CSV</button>
            </div>

            <table class="dashboard-table category-sales-table" id="category-sales-table">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Units Sold</th>
                        <th>Total Revenue</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- TO BE POPULATED WITH THE BACKEND -->
                </tbody>
            </table>
        </section>

        <section class="dashboard-section best-selling-section">
            <div class="section-header best-selling-header">
                <h2>Best Selling Header</h2>
                <button class="export-btn">Export CSV</button>
            </div>

            <table class="dashboard-table best-selling-table" id="best-selling-table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Amount Soldi</th>
                        <th>Total Revenue</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- TO BE POPULATED WITH THE BACKEND -->
                </tbody>
            </table>
        </section>

        <section class="trending-section dashboard-section">
            <div class="section-header best-selling-header">
                <h2>Trending Items</h2>
                <button class="export-btn">Export CSV</button>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Proudct</th>
                        <th>Category</th>
                        <th>Usual Avg Sales</th>
                        <th>Current Sales</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- To be populated -->
                </tbody>
            </table>
        </section>

        <section class="full-sales-section dashbaord-section">
            <div class="section-header full-sales-header">
                <h2>Full Sales</h2>
                <button class="export-btn">Export CSV</button>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>Date</th>
                        <th>Customer</th>
                        <th>Items</th>
                        <th>Total</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </section>
    </main>


    <script src="/js/management"></script>
</body>
</html>