<nav>
    <ul>
        <li>
            <button>Back</button>
        </li>
        <li class="nav-logo">2850Mart</li>
        <li>
            <a href="/management/profile" aria-label="My profile">
                Profile
            </a>
        </li>
        <li>
            <a href="/management/picks" aria-label="My profile">
                Select Picks
            </a>
        </li>
        <li>
            <a href="/management/wastage" aria-label="My profile">
                Wastage
            </a>
        </li>
        <li>
            <a href="/management/offsales" aria-label="My profile">
                Offsales
            </a>
        </li>
        <li>
            <a href="/management/stock" aria-label="My profile">
                View Stock Levels
            </a>
        </li>
        <li>
            <a href="/management/settings" aria-label="My profile">
                Settings
            </a>
        </li>
    </ul>
</nav>