<nav>
    <ul>
        <li>
            <button onclick="history.back()">Back</button>
        </li>
        <li class="nav-logo">2850Mart</li>
        <li>
            <a href="/management/scan-crates" aria-label="Select Picks Nav Link">
                Select Picks
            </a>
        </li>
        <li>
            <a href="/management/wastage" aria-label="Wastage nav link">
                Wastage
            </a>
        </li>
        <li>
            <a href="/management/offsales" aria-label="Offsales nav link">
                Offsales
            </a>
        </li>
        <li>
            <a href="/management/stock-levels" aria-label="Stock Levels nav links">
                View Stock Levels
            </a>
        </li>
        <li>
            <a href="/management/settings" aria-label="Setings nav links">
                Settings
            </a>
        </li>
    </ul>
</nav>